$gray-lightest: #f5f5f5;
$gray-lighter: #f7f7f7;
$gray-light: #dfdfdf;
$gray: #bfbfbf;
$gray-dark: #7e7e7e;
$gray-darker: #4a4a4a;
$gray-darkest: #333333;

$blue-dark: #005e90;
$blue: #0081cc;
$blue-light: #2c85e3;
